form {
font-size: 25px;
font-weight: bold;
margin-top: 50px;
margin-bottom: 15px;
transition: all 0.25s;
}

form h3 {
transition: all 0.25s;
}

form label {
color: var(--textColor);
}

form input {
width: 425px;
height: 55px;
font-size: 20px;
margin-top: 10px;
margin-bottom: 20px;
}

.confirmButton{
width: 150px;
height: 40px;
border-radius: 5px;
background: var(--secondaryColor);
color: white;
font-size: 15px;
border: none;
transition: all 0.3s;
}

.confirmButton:hover {
cursor: pointer;
background: var(--primaryColor);
}

.confirmButton:focus {
  border: 2px solid var(--tertiaryColor);
  background: var(--primaryColor);
}

.confirmButton:active{
background: var(--tertiaryColor);
}

.confirmButton:not(:active) {
animation: animConfirmButton 1s cubic-bezier(0,.81,1,-0.07) 1;
}

.helpLinks{
  width: 100%;
}

@keyframes animConfirmButton {
0%{scale: 1;}
3%{scale: 0.8;}
100%{scale: 1;}
}

.helpLinks {
margin-top: 40px;
}

.helpLinks p {
margin-inline-end: 20px;
}

@media (max-height:640px) {
form h3{
opacity: 0;
height: 0;
}

form form{
margin-top: 0px;
}
}

@media (max-height:600px) {
form{
margin: 0px;
}

.confirmButton {
margin: 0px;
}

.helpLinks {
margin-top: 15px;
margin-bottom: 0px;
}
}

@media (max-device-width: 480px) and (orientation: landscape) {
  form input {
  height: 30px;
  }

}

@media (max-device-width: 480px) and (orientation: portrait) {
  form input {
  width: 300px;
  }

  form h3 {
  font-size: 40px !important;
  }

}

